
body {
    font-family: Arial;
    color: rgb(103,114,109);
}

#navbar {
    border-width: 1.5px;
    width: 35%;
    height: 90%;
    border-style: solid;
    position: fixed;
    left: 0px;
}

@media(max-width: 700px) {
    #navbar {
        width: 100%;
        height: auto;
        position: relative;
    }
}

main {
    margin-left: 35vw;
}
#nav-list{
    overflow-y: auto;
    list-style: none;
    padding: 1px;
}
#nav-list li{
    border-style: solid;
    text-align: center;
    border-width: 1.5px;
}
.nav-link{
    text-decoration: inherit;
    color: inherit;
}